body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(246, 248, 250);
	/* background-color: rgb(255, 250, 250); */
	/* overflow-wrap: break-word; */
}
@media (min-width: 1440px) {
	.col-xxl {
		max-width: 670px;
		flex: none;
	}
}

button.logout {
	border: none;
	background-color: rgba(0, 255, 255, 0.2);
	position: absolute;
	right: 0%;
	height: 100%;
	width: 100px;
	border-radius: 0 0 13px ;
}

nav.navbar {
	background-color: rgb(255, 255, 255)!important;
	box-shadow: 0 6px 3px -5px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 13px 13px;
}

button.submit-post {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	height: 3rem;
	font-size: 1.4rem;
	font-weight: 260;
	border: none;
	border-radius: 13px;
	box-shadow: 0 6px 3px -5px rgba(0, 0, 0, 0.15);
	background: rgba(0, 255, 255, 0.2);
}

.categories-search {

	margin-top: 30px;
}

div.title {
	outline: none;
	border: none;
	text-align: left;
	width: 100%;
	font-size: 2.1rem;
	line-height: 1.075;
	font-weight: 200;
	background: white;
	border-radius: 13px 13px 0 0;
	padding: 15px;
	padding-bottom: 0;
	overflow-wrap: break-word;
	text-decoration: underline 3px;
	transition: padding-top 0.2s ease;
}

.post-heading-details {
	display: flex;
	user-select: none;
	justify-content: space-between;
	width: 100%;
}

div.post-date {
	font-size: 0.9rem;
	font-weight: 400;
	color: rgb(158, 158, 168);
	margin-top: 10px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

/* span.post-date-number {

} */

div.title.offset-down {
	padding-top: 50px;
	transition: padding-top 0.2s ease;
}

button.read-more-button span {
	display: inline-block;
	transform: scale(20,1);
}

button.read-more-button {
	position: absolute;
	width: 100%;
	height: 250px;
	margin-top: -266px;
	border-radius: 0 0 13px 13px;
	outline: none;
	border: none;
	font-size: 1.7rem;
	line-height: 1.2;
	font-weight: 350;
	/* font-style: italic; */
	/* text-shadow: 2px 0 0 white; */
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255) 0%,
		rgba(255, 255, 255) 20%,
		rgb(255, 255, 255, 0.95) 40%,
		rgb(255, 255, 255, 0.9) 60%,
		rgb(255, 255, 255, 0.8) 80%,
		transparent 100%
		);
	color: rgba(129, 251, 255);
	padding-top: 200px;
}

button.show-less-button {
	position: absolute;
	/* width: 40%; */
	/* height: 100px; */
	margin-top: 10px;
	left: 10px;
	border-radius: 0 0 13px 13px;
	outline: none;
	border: none;
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: 300;
	font-style: italic;
	/* text-shadow: 2px 0 0 white; */
	/* background: linear-gradient(0deg, rgba(255, 255, 255) 0%, rgba(255, 255, 255, 0.85) 33%, rgba(255, 255, 255, 0.55) 66%,transparent 100%); */
	background: none;
	color: rgba(99, 138, 139, 0.95);
	/* padding-top: 50px; */
}

/* button.read-more-button[aria-expanded="true"] {
	background: none;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
} */

.underlined {
	background-image: linear-gradient(to bottom, rgba(43, 248, 255, 0.6) 30%, transparent 30%, transparent);
	background-position: 0 1.03em;
	background-repeat: repeat-x;
	background-size: 2px 6px;
 }

/* button.expand-button:before {
	position: absolute;
	right: 15px;
	content: "▼";
	color: rgba(165, 164, 164, 0.5);
} */

input#postTitle {
	outline: none;
	border: none;
	text-align: left;
	width: 100%;
	font-size: 2.1rem;
	line-height: 1.2;
	font-weight: 200;
	color: #333;
}


.new-post div.collapse:not(.show) {
	position: relative;
	overflow: hidden;
	height: 250px;
	transition: height 0.2s ease;
}

div.collapse:not(.show) > div.code-block-container:before {
	display: none!important;
}

div.collapse:not(.show)  > div.code-block-container > button.copy-code-block {
	display: none!important;
}

.collapse:not(.show) {
	display: block;
}

svg {
	cursor: pointer
}

.new-post {
	margin-bottom: 25px;
	margin-top: 15px;
}

.collapsing {
	height: 250px;
}

/* .not-found-page-text {
	
} */

.neddy-heading {
	font-size: 5rem;
	font-weight: 100;
	text-align: center;
}

.neddy-subheading {
	font-size: 3rem;
	font-weight: 200;
	text-align: center;
}

.simplified {
	font-weight: 400;
}

.programming-lottie * {
	margin: 0!important;
	text-align: center;
}

a {
	color: rgb(92, 214, 236)
}

a:hover {
	color: rgb(86, 198, 218)
}

.lottie-check {
	top: 48px;
	left: -7px;
}

.follow-text-true {
	padding-left: 30px;
	border: 9px solid rgb(226, 255, 226);
	background-color: rgb(226, 255, 226);
	user-select: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 1.25rem;
	border-radius: 13px;
	box-shadow: 3px 3px 3px -2px rgba(0, 0, 0, 0.15);
	transition: border 0.3s ease;
}

.follow-text-false {
	padding-left: 30px;
	border: 9px solid white;
	background-color: white;
	user-select: none;
	cursor: pointer;
	font-weight: 300;
	font-size: 1.25rem;
	box-shadow: 3px 3px 3px -2px rgba(0, 0, 0, 0.15);
	border-radius: 13px;
	transition: border 0.3s ease;
}

.author-title, .category-title {
	display: block;
	font-size: 3.2rem;
	font-weight: 200;
}

.follow-data {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	user-select: none;
	color: rgb(167, 167, 167);
}

.follow-button, .follow-category-button {
	width: 0;
}

.author-title-container, .category-title-container {
	padding-left: 15px;
	padding-right: 15px;
}

.discover-category-item {
	display: inline-block;
	margin: 15px;
	padding: 5px;
	font-size: 2rem;
	background: white;
	border-radius: 13px;
	box-shadow: 3px 3px 6px -4px rgba(0, 0, 0, 0.15);

}

.discover-page {
	text-align: justify;
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(80, 80, 80);
	/* padding-right: 20px */
}

.navbar-brand {
	margin-right: 0;
}

nav.navbar {
	padding-left: 0;
	padding-right: 0;
}