pre.code-block-container {
	background-color: #2f2c38;
	border-top: #837c99 solid 17px;
	overflow: scroll;
	border-radius: 6px;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 16px;
	padding: 20px;
	margin: 0;
	width: 100%;
}

.BOLD {
	font-weight: bold;
}

.ITALIC {
	font-style: italic;
}

.STRIKETHROUGH {
	text-decoration: line-through;
}

.UNDERLINE {
	text-decoration: underline;
}

.STRIKETHROUGH.UNDERLINE {
	text-decoration: underline line-through;
}

.MARK {
	background-color: yellow;
}

.QUOTATION {
	font-style: italic;
	font-weight: 340;
}

/* .QUOTATION:before {
	content: "❝";
}

.QUOTATION:after {
	content: "❞";
} */

/* .QUOTATION:before {
	content: "“";
}

.QUOTATION:after {
	content: "”";
} */
.Draftail-block--MILLENIAL-QUOTE div {
	text-align: center;
}
.Draftail-block--MILLENIAL-QUOTE, .MILLENIAL-QUOTE {

	background: linear-gradient(222deg,  #ffa000, #f9ff00, #94ff00, #18ff00, #00ff91, #00e6ff,  #00ff91, #18ff00, #f9ff00,  #ffa000);
	background-size: 200% 200%;
	animation: New-Age-Shit-Animation 10s ease infinite;

	border-radius: 10px;
	color: white;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -2px;
	padding: 20px;
	text-shadow: 2px 2px 0px rgba(82, 82, 82, 0.33);
	line-height: 1;
	text-align: center;
}

.Draftail-block--MILLENIAL-QUOTE:after {
	display: block;
	content: "👏👏👏👏👏👏👏👏";
}

.Draftail-block--MILLENIAL-QUOTE:before {
	display: block;
	content: "👏👏👏👏👏👏👏👏";
}

@keyframes New-Age-Shit-Animation {
	0%{background-position:10% 90%}
	25%{background-position:90% 10%}
	50%{background-position:10% 90%}
	75%{background-position:90% 10%}
	100%{background-position:10% 90%}
}

.SMALL {
	font-size: 0.5rem;
	text-transform: uppercase;
}

.SAMPLE {
	padding: 0.2em 0.3125em;
	margin: 0px;
	font-size: 85%;
	background-color: rgba(27, 31, 35, 0.068);
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
	border-radius: 3px;
	border-left: solid 2px #2f2c38;
	border-bottom: solid 2px #2f2c38;
}

.INSERT {
	text-decoration: underline;
}

.REDACTED, .DELETE {
	/* text-decoration: line-through underline overline ; */
	background-color: black;
	color: black;
}

.SUPERSCRIPT {
	font-size: 60%;
	vertical-align: super;
	line-height: 1;
}

.SUBSCRIPT {
	font-size: 60%;
	vertical-align: sub;
	line-height: 1;
}

.KEYBOARD {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: rgb(68, 77, 86);
	vertical-align: middle;
	background-color: rgb(250, 251, 252);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(198, 203, 209) rgb(198, 203, 209) rgb(149, 157, 165);
	border-image: initial;
	border-radius: 3px;
	box-shadow: rgb(149, 157, 165) 0px -1px 0px inset;
}

.CODE {
	padding: 0.2em 0.3125em;
	margin: 0px;
	font-size: 85%;
	background-color: rgba(27, 31, 35, 0.068);
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
	border-radius: 3px;
	border-left: solid 2px #2f2c38;
	border-bottom: solid 2px #2f2c38;
}


.individual-post{
	background: #fff;
	border: 1px solid rgba(221, 221, 221, 0.527);
	/* font-family: 'Georgia', serif; */
	/* font-size: 14px; */
	padding: 15px;
}
/* 
.Draftail-Editor {
	cursor: text;
	font-size: 16px;
	margin-top: 10px;
}
.DraftEditor-controls-container {
	position: absolute;
}
.Draftail-Editor .public-DraftEditorPlaceholder-root,
.Draftail-Editor .public-DraftEditor-content {
	margin: 0 -15px -15px;
	padding: 15px;
}

.Draftail-Editor .public-DraftEditor-content {
	min-height: 100px;
}

.DraftEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-family: 'Hoefler Text', 'Georgia', serif;
	font-style: italic;
	word-spacing: 0.4rem;
	font-size: 26px;
	margin: 1px 0;
	margin-bottom: 0;
	padding: 1px 20px;
} */
/* span.draftJsHashtagPlugin__hashtag__1wMVC span span {

	color: rgb(45, 118, 253);

}

.Draftail-Editor .DraftEditor-new-age-shit {

	background: linear-gradient(222deg,  #ffa000, #f9ff00, #94ff00, #18ff00, #00ff91, #00e6ff,  #00ff91, #18ff00, #f9ff00,  #ffa000);
	background-size: 200% 200%;
	animation: New-Age-Shit-Animation 10s ease infinite;

	border-radius: 10px;
	color: white;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -2px;
	padding: 20px;
	text-shadow: 2px 2px 0px rgba(82, 82, 82, 0.33);
	line-height: 1;
	text-align: center;
}

div.DraftEditor-new-age-shit div span span:after {
	display: block;
	content: "👏👏👏👏👏👏👏👏";
}

div.DraftEditor-new-age-shit div span span:before {
	display: block;
	content: "👏👏👏👏👏👏👏👏";
} */

/* .Draftail-Editor pre.public-DraftStyleDefault-pre {
	max-width: 100vw;
} */

/* .Draftail-Editor pre.public-DraftStyleDefault-pre pre div {
	overflow: scroll;
} */

/* @keyframes New-Age-Shit-Animation {
    0%{background-position:10% 90%}
    25%{background-position:90% 10%}
    50%{background-position:10% 90%}
    75%{background-position:90% 10%}
    100%{background-position:10% 90%}
} */



/* .DraftEditor-controls {
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	user-select: none;
}

.DraftEditor-styleButton {
	color: #999;
	cursor: pointer;
	margin-right: 16px;
	padding: 2px 0;
	display: inline-block;
}

.DraftEditor-activeButton {
	color: #5890ff;
} */