pre.code-block {
	background-color: #3c3c57;
	border-top: #71659b solid 17px;
	overflow: scroll;
	border-radius: 12px;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 15px;
	padding: 20px;
	margin: 0;
	width: 100%;
	font-weight: 550;
	line-height: 1.2;

}

button.copy-code-block, .code-block-container:before {
	display: inline-block;
	z-index: 1000;
	position: absolute;
	line-height: 1.2;
	font-size: 15px;
	padding: 0;
	padding-left: 13px;
	padding-right: 13px;
	outline: none;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	border: none;
	color: #f879fa;
	font-weight: 550;
	background-color: #3c3c57;
	border-top-right-radius: 13px;
	border-top-left-radius: 13px;

}

.code-block-container:before {
	background: none;
	color:#3c3c57;
	font-size: 13px;
	padding-top: 2px;
}

/* .code-block-javascript.code-block-container:before {
	content: "JavaScript";
}

.code-block-html.code-block-container:before {
	content: "HTML";
}

.code-block-ruby.code-block-container:before {
	content: "Ruby";
}

.code-block-ruby.code-block-container:before {
	content: "Python";
} */

button.copy-code-block {
	right: 31px;
}

button.copy-code-block:active {
	background: none;
	color: #fc53ff;
}

pre.code-block {
	white-space: pre-wrap;
}

pre.code-block:before {
	counter-reset: listing;
}

pre.code-block code {
	counter-increment: listing;
	font-size: 87.5%;
}

pre.code-block code::before {
	content: counter(listing);
	display: inline-block;
	margin-left: 0px;
	margin-right: 16px;
	color: #71659b;
}

.BOLD {
	font-weight: bold;
}

.ITALIC {
	font-style: italic;
}

.STRIKETHROUGH {
	text-decoration: line-through;
}

.UNDERLINE {
	text-decoration: underline;
}

.STRIKETHROUGH.UNDERLINE {
	text-decoration: underline line-through;
}

.MARK {
	background-color: yellow;
}

.QUOTATION {
	font-style: italic;
	font-weight: 340;
}

button[name="MARK"] span {
	background-color: yellow;
}

button[name="SMALL"] span {
	font-size: 50%;
}

button[name="SAMPLE"] span {
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-weight: normal;
}

button[name="SUPERSCRIPT"] span {
	vertical-align: super;
	font-size: 60%;
}

button[name="SUBSCRIPT"] span {
	vertical-align: sub;
	font-size: 60%;
}

/* .QUOTATION:before {
	content: "❝";
}

.QUOTATION:after {
	content: "❞";
} */

/* .QUOTATION:before {
	content: "“";
}

.QUOTATION:after {
	content: "”";
} */


.SMALL {
	font-size: 0.5rem;
	text-transform: uppercase;
}

.SAMPLE {
	padding: 0.2em 0.3125em;
	margin: 0px;
	font-size: 90%;
	font-weight: 550;
	color: white;
	background-color: #3c3c57;
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
	border-radius: 4px;
	border-top: solid 4px #71659b;
}

.INSERT {
	text-decoration: underline;
}

.REDACTED, .DELETE {
	background-color: black;
	color: black;
}

.SUPERSCRIPT {
	font-size: 60%;
	vertical-align: super;
	line-height: 1;
}

.SUBSCRIPT {
	font-size: 60%;
	vertical-align: sub;
	line-height: 1;
}

.KEYBOARD {
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: rgb(68, 77, 86);
	vertical-align: middle;
	background-color: rgb(250, 251, 252);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(198, 203, 209) rgb(198, 203, 209) rgb(149, 157, 165);
	border-image: initial;
	border-radius: 3px;
	box-shadow: rgb(149, 157, 165) 0px -1px 0px inset;
}

.CODE {
	padding: 0.2em 0.3125em;
	margin: 0px;
	font-size: 85%;
	background-color: rgba(27, 31, 35, 0.068);
	font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, sans-serif;
	border-radius: 3px;
	border-left: solid 2px #2f2c38;
	border-bottom: solid 2px #2f2c38;
}

.individual-post{
	background: #fff;
	border: 1px solid rgba(221, 221, 221, 0.527);
	/* font-family: 'Georgia', serif; */
	/* font-size: 14px; */
	padding: 15px;
}

.Draftail-block--millenial-quote div {
	text-align: center;
	/* overflow: scroll; */
	overflow-wrap: break-word;
}

.Draftail-block--millenial-quote, .millenial-quote {

	background: linear-gradient(222deg,	#ffa000, #f9ff00, #94ff00, #18ff00, #00ff91, #00e6ff,	#00ff91, #18ff00, #f9ff00,	#ffa000);
	background-size: 200% 200%;
	animation: Gradient-Background-Animation 10s ease infinite;
	border-radius: 10px;
	color: white;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -2px;
	padding: 20px;
	text-shadow: 2px 2px 0px rgba(82, 82, 82, 0.33);
	line-height: 1;
	text-align: center;
}

.Draftail-block--millenial-quote:after {
	display: block;
	content: "👏👏👏👏👏👏👏👏";
}

.Draftail-block--millenial-quote:before {
	display: block;
	content: "👏👏👏👏👏👏👏👏";
}

@keyframes Gradient-Background-Animation {
	0%{background-position:10% 90%}
	25%{background-position:90% 10%}
	50%{background-position:10% 90%}
	75%{background-position:90% 10%}
	100%{background-position:10% 90%}
}

.Draftail-block--unordered-list-item div {
	white-space: pre-wrap;
	/* overflow: scroll; */
	overflow-wrap: break-word;
}

.Draftail-block--ordered-list-item div {
	white-space: pre-wrap;
	/* overflow: scroll; */
	overflow-wrap: break-word;
}