/* PrismJS 1.18.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+jsx+ruby&plugins=line-numbers */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code[class*="language-"],
 pre[class*="language-"] {
	 color: rgb(248, 248, 248);
	 background: none;
	 font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	 font-size: 1em;
	 font-weight: 550;
	 text-align: left;
	 white-space: pre;
	 word-spacing: normal;
	 word-break: normal;
	 word-wrap: normal;
	 line-height: 1.5;
 
	 -moz-tab-size: 4;
	 -o-tab-size: 4;
	 tab-size: 4;
 
	 -webkit-hyphens: none;
	 -moz-hyphens: none;
	 -ms-hyphens: none;
	 hyphens: none;
 
 }

 pre {
	 color: white;
	 font-weight: 550;
	 margin-bottom: 0;
 }
 
 /* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.5em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2f2c38;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: rgb(153, 153, 153);
	font-weight: normal;
	font-family: "Comic Sans MS", cursive

}

.token.punctuation {
	color: rgb(83, 215, 255);
	font-weight: 550;

}

.token.namespace,
.token.deleted {
	color: #dd5055;
	font-weight: 550;
}

.token.tag {
	color: #f16d71;
	font-weight: 550;
}

.token.attr-name {
	color: #ff9d4d;
	font-weight: 550;
}

.token.function-variable {
	color: #7cbcfc;
	font-weight: 550;
}

.token.function-name {
	color: #4287cc;
	font-weight: 550;
}

.token.boolean,
.token.number {
	color: #ff8432;
	font-weight: 550;
}
.token.parameter {
	color: #e9e8b2;
	font-weight: 550;
}
.token.function {
	color: #84c8ff;
	font-weight: 550;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f7b72d;
	font-weight: 550;
}

.token.selector {
	color: #d68324;
	font-weight: 550;
}

.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #f879fa;
	font-weight: 550;
}

.token.string,
.token.char,
.token.regex,
.token.variable {
	color: #40dd7c;
	font-weight: 550;
}

.token.attr-value {
	color: #40dd7c;
	font-weight: 550;
}

.token.operator,
.token.entity,
.token.url {
	color: #41cecb;
	font-weight: 550;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: rgb(0, 163, 0);
	font-weight: 550;

}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	white-space: inherit;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid rgb(199, 197, 197);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
	pointer-events: none;
	display: block;
	counter-increment: linenumber;
}

.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: rgb(201, 201, 201);
	display: block;
	padding-right: 0.8em;
	text-align: right;
}