.RichEditor-root {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	font-family: 'Georgia', serif;
	font-size: 14px;
	padding: 15px;
}

.RichEditor-editor {
	border-top: 1px solid #ddd;
	cursor: text;
	font-size: 16px;
	margin-top: 10px;

}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
	margin: 0 -15px -15px;
	padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
	min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.RichEditor-editor .RichEditor-blockquote {
	border-left: 5px solid #eee;
	color: #666;
	font-family: 'Hoefler Text', 'Georgia', serif;
	font-style: italic;
	word-spacing: 0.4rem;
	font-size: 26px;
	margin: 1px 0;
	margin-bottom: 0;
	padding: 1px 20px;
}

.RichEditor-editor .RichEditor-new-age-shit {

	background: linear-gradient(222deg, #d53535, #ffa000, #f9ff00, #94ff00, #18ff00, #00ff91, #00e6ff, #af00ff, #ff0085);
background-size: 200% 200%;

animation: New-Age-Shit-Animation .3s ease infinite;
	border-radius: 10px;
	color: white;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 30px;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -2px;
	padding: 20px;
	text-shadow: 2px 2px 0px rgba(82, 82, 82, 0.56);
	line-height: 1;
}



@keyframes New-Age-Shit-Animation {
    0%{background-position:10% 90%}
    25%{background-position:90% 10%}
    50%{background-position:10% 90%}
    75%{background-position:90% 10%}
    100%{background-position:10% 90%}
}

.RichEditor-editor .public-DraftStyleDefault-pre {
	background-color: #2f2c38;
	border-top: #837c99 solid 17px;

	border-radius: 6px;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 16px;
	padding: 20px;
	margin: 0;
}

.RichEditor-controls {
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	user-select: none;
}

.RichEditor-styleButton {
	color: #999;
	cursor: pointer;
	margin-right: 16px;
	padding: 2px 0;
	display: inline-block;
}

.RichEditor-activeButton {
	color: #5890ff;
}