
.DraftEditor-controls-container {
	position: absolute;
}
.Draftail-Editor .public-DraftEditorPlaceholder-root,
.Draftail-Editor .public-DraftEditor-content {
	margin: 0 -15px -15px;
	padding: 15px;
}

.Draftail-block--unstyled {
	overflow-wrap: break-word;
	text-align: justify;

}

.Draftail-Editor .public-DraftEditor-content {
	min-height: 100px;
}

.DraftEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
	display: none;
}

.Draftail-Editor .Draftail-block--blockquote, .Draftail-block--blockquote  {
	/* font-family: 'Hoefler Text', 'Georgia', serif; */
	/* word-spacing: 0.2rem; */
	/* margin: 1px 0; */
	border-left: 5px solid rgb(0, 195, 255);
	background-color: rgb(246, 248, 250);
	color: #333;
	font-style: italic;
	font-size: 1.2rem;
	font-weight: 400;
	margin-bottom: 0;

	padding: 10px 10px 5px 30px;
}
span.draftJsHashtagPlugin__hashtag__1wMVC span span {

	color: rgb(45, 118, 253);

}
.DraftEditor-root div div div {
	margin-bottom: 0.35rem;
}
.Draftail-Editor .public-DraftStyleDefault-pre {
	background-color: #3c3c57;
	border-top: #71659b solid 17px;
	overflow: scroll;
	border-radius: 7px;
	font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
	font-size: 16px;
	font-weight: 550;
	padding: 20px;
	margin: 0;
	width: 100%;
	line-height: 1.2;
}

.Draftail-Editor pre.public-DraftStyleDefault-pre code div {
	white-space: pre-wrap;
}
pre.public-DraftStyleDefault-pre:before {
	counter-reset: listing;
}
pre.public-DraftStyleDefault-pre code {
	counter-increment: listing;
	font-size: 87.5%;
}
pre.public-DraftStyleDefault-pre code::before {
	content: counter(listing);
	/* display: inline-block; */
	float: left;
	margin-left: 0px;
	margin-right: 8px;
	color: #71659b;
	width: 33px;
	border-right: solid 1px #71659b;
	text-align: right;
	padding-right: 3px;
}

.DraftEditor-controls {
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	user-select: none;
}

.DraftEditor-styleButton {
	color: #999;
	cursor: pointer;
	margin-right: 16px;
	padding: 2px 0;
	display: inline-block;
}

.DraftEditor-activeButton {
	color: #5890ff;
}

.DraftEditor-root {
	background: #fff;
	border-radius: 0 0 13px 13px;
	font-family: 'Georgia', serif;
	font-size: 14px;
	padding: 15px;
}

.Draftail-Editor {
	cursor: text;
	font-size: 16px;
	border-radius: 13px;
}

.Draftail-ToolbarGroup + .Draftail-ToolbarGroup::before {
	display: none!important;
}

.Draftail-Toolbar {
	border-radius: none!important;
	border-bottom: none!important;
	background-color: rgb(194, 253, 253)!important;
}

.Draftail-Editor {
	border: none!important;
	border-radius: 13px!important;
	background-color: rgba(0, 255, 255, 0.2)!important;
	box-shadow: 0 6px 3px -5px rgba(0, 0, 0, 0.15);
}

.public-DraftStyleDefault-ul, .public-DraftStyleDefault-ol, .Draftail-block--unstyled {
	font-size: 1rem;
	font-weight: 300;
}
.public-DraftStyleDefault-ul *, .public-DraftStyleDefault-ol * {
	margin-bottom: 0.25rem;
}
.Draftail-block--header-three {
	font-weight: 300;
}
.Draftail-block--header-four {
	font-weight: 300;
}